@import "SRC/shared/reset.scss";

.navMenu {
	font-size: 16px;
	font-family: sans-serif;
	
	.list {
		display: flex;
		position: absolute;
		flex-direction: column;
		list-style-type: none;

		.listItem {
			flex: 1;
		}
	}

	&[aria-expanded="false"] .list{

		.listItem {
			opacity: 0;
		}
	}

	&[aria-expanded="true"] .list{

		.listItem {
			opacity: 1;
		}	
	}

	::slotted(a) {
		text-decoration: none;
	}
}

